.Rproj.user
.Rhistory
.RData
.Ruserdata
/.Rproj.user
/.Rproj.user
/.Rproj.user/AF723CEC
/.Rproj.user/AF723CEC/sources/prop
/data
/.Rproj.user
/.Rproj.user
/.Rproj.user
test.r
.Rproj.user/AF723CEC/pcs/source-pane.pper
.Rproj.user/AF723CEC/pcs/windowlayoutstate.pper
